<body th:fragment="body(title, sub, main)" class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">
          <span th:replace="${title}"></span>
        </h1>
        <p class="lead">
          <th:block th:replace="${sub}"></th:block>
        </p>
        <th:block th:replace="${main}"></th:block>
      </div>
    </main>

    <footer th:replace="layout/footer :: footer"></footer>
    <script th:src="@{/bootstrap-5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>