<!doctype html>
<html lang="en" class="h-100">
<head th:replace="layout/head :: head(~{this :: title})">
  <title>Mano Console</title>
</head>
<body th:replace="layout/body :: body(~{this :: .h1-title}, ~{this :: .sub-title}, ~{this :: .main-content})">
  <span class="h1-title">Mango</span>
  <span class="sub-title">Project Pipelines</span>
  <div class="main-content">
    <div id="root"></div>
    <script th:src="@{/querystringify.js}"></script>
    <script type="text/babel">
      function DataTableHeadObject() {
        const data = ['ID', 'Status', 'Source', 'Ref', 'WebURL'];
        return {
          data,
          render: () => {
            return (
              <thead>
                <tr>
                  {data.map((h, k) => (<th key={k} scope="col">{h}</th>))}
                </tr>
              </thead>
            )
          }
        }
      }
      function DataTableListObject(props) {
        const {list} = props;
        if (!list || !Array.isArray(list)) return (<em>No data.</em>);
        const {data} = DataTableHeadObject();
        return {
          render: () => {
            return (
              <tbody>
                {list.map((v, k) => {
                  return (
                    <tr key={k}>
                      {data.map((h, i) => {
                        return (<td key={i} data-key={h}>{v[h]}</td>)
                      })}
                    </tr>
                  )
                })}
              </tbody>
            )
          }
        }
      }

      const search = window.querystringify.parse(location.search);
      window.fetch(`http://localhost:8080/api/v1/user/${search.id}/pipelines`).then(res => {
        return res.json();
      }).then(res => {
        const root = ReactDOM.createRoot(document.getElementById('root'));
        if (res.status !== 1000) return root.render(<em>{res.message || res.status}</em>);

        const data = [];
        res.data.forEach(d => {
          let result = d.match(/(?<=<mango>).*(?=<\/mango>)/ig);
          if (!result) return;
          result = result[0].split(',');
          const dataItem = {};

          result.forEach(r => {
            const r1 = r.split('&&');
            if (r1) dataItem[r1[0]] = r1[1];
          })
          data.push(dataItem);
        });
        root.render(
           <table className="table table-bordered table-hover table-sm">
             {DataTableHeadObject().render()}
             {DataTableListObject({list: data}).render()}
           </table>
        )
      })
    </script>
  </div>
</body>
</html>