<section id="projectInfo">
</section>

<script type="text/babel">
    let /* project info */info = [{ID: '', DefaultBranch: ''}]
    function ProjectInfoTableHead() {
        const data = ['ID', 'Name', 'SSHURLToRepo', 'WebURL', 'DefaultBranch'];
        const columnHead = data.map((d, k) => {
            return {name: d, index: k}
        })
        return {
          columnHead,
          render: () => {
            const [state, setState] = React.useState(0)
            return (
              <thead>
                <tr>
                  {columnHead.map(h => (<th key={h.index} scope="col">{h.name}</th>))}
                  <th>Actions</th>
                </tr>
              </thead>
            )
          }
        }
    }

    function ProjectInfoTableList(props) {
        const {list} = props;
        if (!list || !Array.isArray(list)) return (<em>No data.</em>);
        const {columnHead} = ProjectInfoTableHead();

        function onCreatePipeline() {
            const {ID, DefaultBranch} = info[0]
            console.info(ID, DefaultBranch);
        }
        return {
          render: () => {
            return (
              <tbody>
                {list.map((v, k) => {
                  return (
                    <tr key={k}>
                        {columnHead.map(h => {
                            return (<td key={h.index} data-key={h.name}>{v[h.name]}</td>)
                        })}
                        <td>
                            <div className="btn-group" role="group">
                              <button type="button" className="btn btn-sm btn-info" onClick={onCreatePipeline.bind(this)}>Create Pipeline</button>
                              <button type="button" className="btn btn-sm btn-success">WebIDE</button>
                            </div>
                        </td>
                    </tr>
                  )
                })}
              </tbody>
            )
          }
        }
    }

    const projectInfo = ReactDOM.createRoot(document.getElementById('projectInfo'));
    const search = window.querystringify.parse(location.search);
    mango.api.request({url: `/api/v1/project/${search.id}`}).then(res => {
        info = res.map(d => mango.utils.dataCharsToObj(d))
        projectInfo.render(
            <div>
                <table className="table table-bordered table-hover table-sm">
                    <caption>Project Information</caption>
                    {ProjectInfoTableHead().render()}
                    {ProjectInfoTableList({list: info}).render()}
                </table>
            </div>

        )
    }).catch(error => {
        projectInfo.render(
            <p>{error}</p>
        )
    })
</script>