<section id="projectInfo">
</section>

<script type="text/babel">
    const root = ReactDOM.createRoot(document.getElementById('projectInfo'));
    const search = window.querystringify.parse(location.search);
    function ProjectInfoTableHead() {
        const data = ['ID', 'Name', 'SSHURLToRepo', 'WebURL', 'DefaultBranch'];
        return {
          data,
          render: () => {
            return (
              <thead>
                <tr>
                  {data.map((h, k) => (<th key={k} scope="col">{h}</th>))}
                  <th>Actions</th>
                </tr>
              </thead>
            )
          }
        }
    }
    function ProjectInfoTableList(props) {
        const {list} = props;
        if (!list || !Array.isArray(list)) return (<em>No data.</em>);
        const {data} = ProjectInfoTableHead();

        return {
          render: () => {
            return (
              <tbody>
                {list.map((v, k) => {
                  return (
                    <tr key={k}>
                        {data.map((h, i) => {
                            return (<td key={i} data-key={h}>{v[h]}</td>)
                        })}
                        <td>
                            <div class="btn-group" role="group">
                              <button type="button" class="btn btn-sm btn-info">Create Pipeline</button>
                              <button type="button" class="btn btn-sm btn-success">WebIDE</button>
                            </div>
                        </td>
                    </tr>
                  )
                })}
              </tbody>
            )
          }
        }
    }

    mango.api.request({url: `/api/v1/project/${search.id}`}).then(res => {
        console.info(res.map(d => mango.utils.dataCharsToObj(d)));

        root.render(
            <table className="table table-bordered table-hover table-sm">
                <caption>Project Information</caption>
                {ProjectInfoTableHead().render()}
                {ProjectInfoTableList({list: res.map(d => mango.utils.dataCharsToObj(d))}).render()}
            </table>
        )
    }).catch(error => {
        root.render(
            <p>{error}</p>
        )
    })
</script>